<h2>Here is list of all owners</h2>

<table>
    <tr>
        <th>Owner id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Date of birth</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let owner of owners">
        <td>{{ owner.owner_id }}</td>
        <td>{{ owner.first_name }}</td>
        <td>{{ owner.last_name }}</td>
        <td>{{ owner.email }}</td>
        <td>{{ owner.date_of_birth | date:'dd.MM.YYYY' }}</td>
        <td><a [routerLink]="['/owner/update', owner.owner_id]">edit</a> | <a [routerLink]="['/owner/delete', owner.owner_id]">delete</a></td>
    </tr>
</table>
